body,
html {
     background: #f7b2aa;
     /* Old browsers */
     background: -moz-linear-gradient(-45deg, #f7b2aa 1%, #ed9e95 100%);
     /* FF3.6+ */
     background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #f7b2aa), color-stop(100%, #ed9e95));
     /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(-45deg, #f7b2aa 1%, #ed9e95 100%);
     /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(-45deg, #f7b2aa 1%, #ed9e95 100%);
     /* Opera 11.10+ */
     background: -ms-linear-gradient(-45deg, #f7b2aa 1%, #ed9e95 100%);
     /* IE10+ */
     background: linear-gradient(135deg, #f7b2aa 1%, #ed9e95 100%);
     /* W3C */
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7b2aa', endColorstr='#ed9e95', GradientType=1);
     /* IE6-9 fallback on horizontal gradient */
     width: 100%;
     margin: 0;
     padding: 0;
     height: 100%;
     top: 0;
     bottom: 0;
     background-attachment: fixed;
}
#list {
/*
    top: 0;
    position: absolute;
*/
}

textarea {
 background-color: #fff;

}
th {
    background-color: #f7b2aa;
    color: white;
    text-align: center;
    border: solid 2px #ce7f76 !important;
    border-bottom: solid 4px #ce7f76 !important;
    text-shadow: 3px 3px 3px #de948c;
}
.table-bordered {
/*    border: 2px solid #db8181;*/
    box-shadow: 0px 3px 3px rgba(222, 148, 140, 0.26);
/*    border-color: black;*/
}
.modal-header {
    background-color: #f7b2aa;
    color: white;
    text-shadow: 3px 3px 3px #de948c;
    border-bottom: solid 4px #ce7f76;
/*    box-shadow: 0px 3px 5px #ce7f76;*/
}
.modal {
    margin-top: 3%;
}

.noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
.calendar-panel {
     min-height: 200px;
}
.week-of-heading {
/*     padding-top: 15px;*/
     font-size: 20px;
     text-align: center;
     box-shadow: 0px 5px 5px #e2cac7;
     min-height: 50px;
}
.main-panel {
     /*    opacity: .5;*/
     height: 100%;
}
.title {
     color: white;
     font-size: 35px;
     text-align: center;
}
.form-signin input[type="text"] {
     /*    margin-bottom: 4px;*/
     /*    padding-bottom: 4px;*/
}
.form-signin input[type="password"] {
     margin-bottom: 10px;
}
.form-signin .form-control {
     position: relative;
     font-size: 16px;
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
     height: auto;
     padding: 10px;
     margin-bottom: 6px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.input-group-addon {
     font-size: 16px;
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
     height: 20px;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.email-form {
     margin-bottom: 4px;
}
.form-signin:focus {
     border: 1px solid #ed9e95;
}
.vertical-offset-100 {
     padding-top: 50px;
}
#deltazetalogo {
     /*    min-height: 50px;*/
     max-height: 150px;
     padding: 15px;
}
.img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
     margin: auto;
}
#login,
#register {
     color: white;
     background-image: linear-gradient(to bottom, #F7B2AA, #ed9e95);
     border-color: #ed9e95;
}
.custom-panel {
     /*    max-height: 600px;*/
     min-height: 425px;
     border-radius: 5px;
}
#main-login-panel {
     -webkit-box-shadow: 0px 5px 5px rgba(181, 141, 136, 0.46);
     box-shadow: 0px 5px 5px rgba(181, 141, 136, 0.46);
     height: 100%;
}
#welcome {
     font-size: 20px;
     text-align: center;
     box-shadow: 0px 5px 5px #e2cac7;
}
.checkbox {
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
     text-align: center;
}
.button-container {
     padding: 5px;
}
.btn-primary {
    background-color: #ed9e95;
}
.btn-success:hover,
.btn-success:focus {
     background-color: #ed9e95;
     /*    background-position: 0 0px;*/
}
.panel {
     margin-bottom: 20px;
     background-color: rgba(255, 255, 255, 0.75);
     border: 1px solid transparent;
     border-radius: 4px;
     height: 100%;
     -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default>.panel-heading {
     background-image: linear-gradient(to bottom, #fff, #fff);
     height: 100%;
}
body {
     padding-top: 50px;
     height: 100%;
}
.starter-template {
     padding: 40px 15px;
     text-align: center;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
     border-color: #ed9e95;
     outline: 0;
     outline: thin dotted \9;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ed9e95;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ed9e95, 0.6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ed9e95;
}
.panel-default>.calendar-heading {
     background-image: linear-gradient(to bottom, #f7b2aa, #ed9e95);
     color: white;
     background: #ed9e95;
     background-color: #ed9e95;
     border-color: white;
     font-weight: 700;
     text-align: center;
     height: 100%;
}
.heightfull {
     height: 100%;
     ;
}
.calendar-panel-body {
     background-image: none;
     padding: 4px;
     margin-bottom: -20px;
     /*    box-shadow: 0px 5px 5px #e2cac7;*/
     /*    background: #F7B2AA;*/
     /*    background-color: #ffd5d1;*/
     height: 100%;
}
.calendar-body {
     font-size: 12px;
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
     min-height: 300px;
}
.calendar-panel {
     /*    padding: -5px;*/
     border: 2px solid rgba(237, 158, 149, 0.27);
     min-height: 300px;
     max-height: 400px;
     height: 100%;
}
.sidepanel-body {
     background-color: #ed9e95;
     font-size: 16px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}
.main-calendar-panel {
     box-shadow: 0px 5px 5px rgba(181, 141, 136, 0.46);
     height: 100%;
}
.sidepanel-heading {
     background-color: #ed9e95;
     font-weight: 700;
     text-align: center;
}
.sidepanel {
     color: white;
}
.calendar-footer {
     bottom: 30px;
     right: 25px;
     position: absolute;
}
.calendar-padding {
     padding: 4px;
     height: 100%;
}
.lunch {
     height: 50%;
}
.right {
     right: 25px;
     top: 5px;
     font-size: 30px;
     position: absolute;
     border: 5px solid #f7b2aa;
     background-color: #f7b2aa;
     border-radius: 90px;
     color: white;
     cursor: pointer;
/*     margin-left: 50px;*/
}

textarea {
     border-style: none;
     border-color: Transparent;
     overflow: auto;
     outline: none;
}
#right-arrow-label {
     position: absolute;
     right: 75px;
     top: 11px;
     cursor: pointer;
}
#left-arrow-label {
     position: absolute;
     left: 75px;
     top: 61px;
     cursor: pointer;
}
.left {
     left: 25px;
     top: 55px;
     font-size: 30px;
     position: absolute;
     border: 5px solid #f7b2aa;
     background-color: #f7b2aa;
     border-radius: 90px;
     color: white;
     cursor: pointer;
}
#current-week-row {
     /*     display: inline;*/
}
#next-week-row {} .meal, .nonmeal {
     margin-left: px;
     margin-right: 3px;
     padding: 5px;
     border: solid #ed9e95 2px;
     border-radius: 4px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     min-height: 110px;
     background-color: white;
     position: relative;
}

.friday-lunch {
     min-height: 245px;
}
.dinner,
.lunch {
     height: 50%;
     font-size: 14px;
}
.lrow,
.drow {
     min-height: 135px;
}
.label-primary {
     background-color: #ed9e95;
     font-size: 10px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 0px;
}
.glyphicon-ok {
     position: absolute;
     /*    bottom: 0px;*/
     top: 80px;
     right: 10px;
     color: green;
     font-size: 18px;
     /*    float: right;*/
     max-height: 20px;
     /*    padding: 5px;*/
}
.glyph-friday {
     top: 215px;
}
#navbar-brand {
     /*    top: 0px; */
     left: 50px;
     font-size: 15px;
/*     15*/
     /*     margin-left: 150px;*/
     padding-left: 20px;
     /*    position: absolute;*/
     display: inline;
}
#navbar-brand-padding {
     width: 150px;
     height: 20px;
     float: left;
     position: relative;
     display: inline;
}
#navbar-right-padding {
     float: right;
     display: inline;
     position: relative;
     width: 160px;
     height: 20px;
}
#logout {
     /*     display: inline;*/
}
.label-edit {
     bottom: 7px;
     left: 5px;
     position: absolute;
     font-size: 13px;
     border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
}
.label-list {
     bottom: 7px;
     left: 55px;
     position: absolute;
     font-size: 13px;
     border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
}
