
   /*
            Name:       Duncan Perkins
            Course:     CSCI 1710-003
            Assignment: Personal Project
            Due Date: 12/2/2014
            Purpose:    The purpose of this web page is to serve as a reservation system for the kitchen of a sorority
        */
body,
html {
     background: #f7b2aa;
     /* Old browsers */
     background: -moz-linear-gradient(-45deg, #f7b2aa 1%, #ed9e95 100%);
     /* FF3.6+ */
     background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #f7b2aa), color-stop(100%, #ed9e95));
     /* Chrome,Safari4+ */
     width: 100%;
     margin: 0;
     padding: 0;
     height: 100%;
     top: 0;
     bottom: 0;
     background-attachment: fixed;

}

input {
 height: 7px;
    width: 20px;

}

button {
 float: right;

}

.bandi {
 font-weight: bold;
font-style: italic;

}

a:link, a:visited {
color: #000;

}

a:hover {
 color: #fff;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {

        display: inline;
}



img.top {
width: 400px;
}

table.toptable {
margin-top:  20px;
 margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
    vertical-align: middle;

}

td.year {
 text-align: right;


}

table.bottable {
        margin-left: auto;
        margin-right: auto;
        width: 90%



}


b.myaddress {
font-size: 20px;

}

hr.topline{
    border-width: 2px;
 width: 50%;
color: #000000;

}

.twenty {
 padding-left: 20px;

}

.fifty {
 padding-left: 50px;

}
