    <!--
            Name:       Duncan Perkins
            Course:     CSCI 1900-201
            Assignment: Project
            Due Date: 11/28/2014
            Purpose:    Create a webpage that can both add and multiply two 3x3 matrices together.
            Input: Two 3x3 Matrices
            Output: The Addition and Multiplication of the two 3x3 matrices
        -->
body
{
padding-top:50px;
}

input
{
width: 120px;
height: 50px;
margin: 1px;
max-width: 120;
}

table
{
margin: auto;
}




hr
{
 border: 0;
 border-bottom: 1px dashed #ccc;
 background: #999;
}

.navbar{
 margin-bottom: 20px;

}

.navbar-header
{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;

}

.navbar-brand
{
 float: none;
}


.box1, .box2, .box3, .box4
{
    font-size: 18pt;
    text-align: center;
 width: 50%;
    height: 100%;
    display: float;
    float: left;
min-width: 250px;
}

.inputboxes, .outputboxes
{
height: 100
width: 100%;
padding: 10px;
 width: 80%;
margin: 0 auto;
overflow: auto;

}

.big
{
margin-top: 50px;
height: 100%;
width: 100%;
overflow: auto;
}
