body {
 background-color: #aa1d1d;
color: white;

}
.content {
 width: 900px;
margin:auto;
    text-align:center;
}
img {
 padding-top: 20px;

}

h2 {
background-color: white;
color: red;
padding: 20px;
width: 80%;
margin: 0 auto;

}
.navbar {
width: 1100px;
    text-align: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
}
ul {
    display: inline-block;
    margin: 0 auto;
    list-style: none;
}

li {
    float: left;
}

.ranking {
width: 80%;
 margin-left: auto;
margin-right: auto;

}
.topstyle {
font-size: 1.3em;

}

td {
 background-color: white;
    border: 2px solid black;
color: #aa1d1d;
padding: 10px;
}

.announcements, .events {
    text-align: center;
    min-width: 50%;
    max-width: 50%;

}

.events {
 float: left;

}

a:link, a:visited {
 text-align: center;   
}

a:link.nav, a:visited.nav {
    display: block;
    border: 2px solid black;
    display: block;
    width: 200px;
    font-weight: bold;
    color: #f00;
    background-color: #fff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover.nav{
 background-color: #f00;
color: #fff;

}


}

