body {
 background-color: #aa1d1d;
color: white;

}
.content {
 width: 900px;
margin:auto;
    text-align:center;
}
img {
 padding-top: 20px;   

}
.navbar {
width: 900px;
margin-left: auto;
margin-right: auto;
padding: 20px;
}
ul {
width: 100%;
    margin: 0 auto;
    list-style: none;
}

li {
    float: left;
}

.ranking {
 margin-left: auto;
margin-right: auto;

}
.topstyle {
font-size: 1.3em;

}

td {
 background-color: white;
    border: 2px solid black;
color: #aa1d1d;
padding: 10px;
}

.announcements, .events {
    text-align: center;
    min-width: 50%;
    max-width: 50%;

}

.events {
 float: left;

}

a:link, a:visited {
    display: block;
    border: 2px solid black;
    display: block;
    width: 200px;
    font-weight: bold;
    color: #f00;
    background-color: #fff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

}

